* {
    margin: 0vh;
    border: 0vh;
    padding: 0vh;
    box-sizing: border-box;
}

body {
    margin: 0vh;
    border: 0vh;
    padding: 0vh;
    font-family: "Montserrat", sans-serif;
}

nav {
    position: fixed;
    z-index: 1;
    opacity: 0.95;
    width: 100%;
    height: 10vh;
    background-color: crimson;
    align-items: center;
    display: flex;
    box-shadow: 6px 6px 7px #888888;
}

.logo {
    line-height: 5vh;
    font-style: sans-serif;
    font-size: 4vh;
    padding-left: 15vh;
    display: flex;
}

.logo img {
    width: 5vh;
    height: 5vh;
    padding-right: 1vh;
}

.white {
    color: white;
}

nav .nav_ul {
    margin: 0vh;
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 70vh;
    position: absolute;
    right: 4vh;
    align-items: center;
}

nav .nav_ul li a {
    text-decoration: none;
    color: black;
}

nav .nav_ul li {
    padding: 1vh;
}

nav ul .home {
    background-color: #00bcd4;
    padding: 1vh;
    border-radius: 3vh;
}

nav ul li a:hover {
    color: #aeefec;
}

.inner {
    animation: slide 2s;
}

.image_slider {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    animation: slide 40s infinite;
}

.content {
    color: #fff;
    width: 100%;
    height: 100%;
}

.principal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 5px;
    text-align: center;
}

.principal h1 {
    font-size: 70px;
    margin-bottom: 20px;
    color: red;
}

.join_us {
    width: 15vh;
    height: 5vh;
    color: white;
    background-color: #e9290f;
}

.principal p {
    font-size: 20px;
    padding-bottom: 4vh;
}

@keyframes slide {
    0% {
        background-image: url(image1.jpg);
    }
    20% {
        background-image: url(image1.jpg);
    }
    20.01% {
        background-image: url(image2.jpg);
    }
    40% {
        background-image: url(image2.jpg);
    }
    40.01% {
        background-image: url(image3.jpg);
    }
    60% {
        background-image: url(image3.jpg);
    }
    60.01% {
        background-image: url(image4.jpg);
    }
    80% {
        background-image: url(image4.jpg);
    }
    80.01% {
        background-image: url(image5.jpg);
    }
    100% {
        background-image: url(image5.jpg);
    }
}

.searchdiv {
    width: 100%;
    height: 50vh;
}

.searchdivinn {
    background-color: #eeeeee;
    width: 60%;
    height: 40%;
    position: absolute;
    top: 105vh;
    left: 41vh;
    border-radius: 2vh;
}

.searchdivinn p {
    font-size: 3vh;
    position: absolute;
    top: 12vh;
    left: 24vh;
}

.searchdivinn input {
    position: absolute;
    top: 19vh;
    left: 15vh;
    width: 75%;
    height: 8vh;
    font-size: 4vh;
}

.footer {
    width: 100%;
    height: 100vh;
    background-color: #2b2b28;
}

.div4 {
    height: 35vh;
    width: 85%;
    position: relative;
    left: 15vh;
    padding: 10vh 0vh 10vh 0vh;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #363434;
}

.div5 {
    display: flex;
    font-size: 4vh;
    font-family: sen;
    letter-spacing: 0vh;
    justify-content: space-between;
    height: 5vh;
    width: 37vh;
    align-items: center;
    padding: 12vh 20vh 10vh 0vh;
}

.div6 {
    color: white;
    height: 15vh;
    width: 130vh;
    padding: 6vh 0vh 8vh 0vh;
    line-height: 4vh;
}

.middel {
    width: 85%;
    height: 53vh;
    padding: 0vh;
    display: flex;
    margin: 0vh;
    position: absolute;
    left: 15vh;
}

.contactus {
    padding: 8vh 0vh 0vh 0vh;
}

.contactus h1 {
    color: white;
    font-size: 25px;
}

.dive {
    color: white;
    line-height: 4vh;
    position: absolute;
    left: 5vh;
    padding: 4vh 2vh 2vh 2vh;
}

.addr {
    color: white;
    line-height: 4vh;
    padding: 2vh 2vh 2vh 2vh;
    position: absolute;
    left: 5vh;
    top: 25vh;
}

.offi {
    color: white;
    line-height: 4vh;
    padding: 2vh 2vh 2vh 2vh;
    position: absolute;
    left: 5vh;
    top: 35vh;
}

.supp_link {
    padding: 8vh 0vh 0vh 32vh;
    width: 100vh;
}

.supp_link h1 {
    color: white;
    font-size: 25px;
}

.supp_div {
    display: flex;
}

.list_img {
    height: 10px;
    width: 10px;
}

.ul_1 {
    list-style: none;
    line-height: 6vh;
    padding: 4vh 5vh 0vh 0vh;
}

.ul_1 li a {
    color: white;
    padding-left: 2vh;
}

.ul_2 {
    list-style: none;
    line-height: 6vh;
    padding: 4vh 0vh 0vh 0vh;
}

.ul_2 li a {
    color: white;
    padding-left: 2vh;
}

.subus {
    position: absolute;
    right: 0vh;
    width: 55vh;
    padding: 8vh 0vh 0vh 0vh;
}

.subus h1 {
    color: white;
    font-size: 25px;
}

.subus p {
    color: white;
    padding-top: 2vh;
    line-height: 4vh;
}

.subus_input input {
    width: 100%;
    height: 8vh;
    background-color: #323232;
}

.subus_btn {
    width: 50%;
    height: 6vh;
    background-color: red;
    position: relative;
    top: 2vh;
}

.lastdiv {
    width: 100%;
    height: 11vh;
    border-top: 2px solid #363434;
    position: relative;
    top: 54vh;
}

.lastdiv p {
    color: white;
    font-weight: 300;
    position: absolute;
    top: 50%;
    left: 34%;
}